@model SGPI.Models.Usuario
@{
    ViewData["Title"] = "Actualizar";
    Layout = "_LayoutSGPI";
}

<h1>Actualizar</h1>


<br />
<form action="" class="form-inline justify-content-center">

    <ul class="nav nav-pills" class="form">
        <li class="nav-item">
            <a class="nav-link  active " aria-current="page" href="#">Actualizar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Estudiante/Pagos">Pagos</a>
        </li>
    </ul>
</form>
<form method="post">
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <label>Tipo de Documento</label>
                <br />
                @Html.DropDownList("IdDoc",new SelectList(ViewBag.Documento, "IdDoc","TipoDocumento"), new { @class = "form-control" })
                <br />
                <br />
                <label>Nombre</label>
                <br />
                <input asp-for="Nombre" type="text" class="form-control col-sm-12" id="nombreusuariotxt" required />
                <br />
                <label>Apellidos</label>
                <br />
                <input asp-for="Apellido" type="text" class="form-control col-sm-12" id="apellidousuariotxt" required />
            </div>
            <div class="col">
                <label>Numero de Documento</label>
                <br />
                <input asp-for="Documento" type="text" class="form-control col-sm-12" id="numerodocumentousuariotxt" required />
                <br />

                <label>Correo Electronico</label>
                <input asp-for="Email" type="text" class="form-control col-sm-12" id="correoelectronicousuariotxt" required />

                <label>Rol</label>
                <br />
                @Html.DropDownList("IdRol",new SelectList(ViewBag.rol, "IdRol","TipoRol"), new { @class = "form-control" })

            </div>
            <div class="col">
                <label>Genero</label>
                <br />
                @Html.DropDownList("IdGenero",new SelectList(ViewBag.genero, "IdGenero","Genero1"), new { @class = "form-control" })
                <br />
            </div>
            <div class="col">
                <label>Programas</label>
                <br />
                @Html.DropDownList("IdPrograma",new SelectList(ViewBag.programa, "IdPrograma","Programa1"), new { @class = "form-control" })
                <br />
            </div>
        </div>
        <br />
        @if (ViewBag.mensaje != null)
        {
            <div class="alert alert-success" role="alert"> @ViewBag.mensaje</div>
        }

        <a href="/Estudiante/Actualizar"><button type="submit" class="btn btn-primary">Modificar</button></a>

        <br />


    </div>
</form>
