@model SGPI.Models.Usuario
@{
    ViewData["Title"] = "EliminarUsuario";
    Layout = "_LayoutSGPI";
}

<h1>Editar Usuario</h1>
<form action="" class="form-inline justify-content-center">
    <center>
        <ul class="nav nav-pills" class="form">
            <li class="nav-item">
                <a class="nav-link " href="/Administrador/CrearUsuario">Crear Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/BuscarUsuario">Buscar Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/EliminarUsuario">Eliminar Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Editar Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Reportes</a>
            </li>
        </ul>
    </center>
</form>
<br />
<!--Creo la columnas-->
<form method="post">
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <!--Aca agregamos el select-->
                <label>Tipo de Documento</label>

                @Html.DropDownList("IdDoc",new SelectList(ViewBag.Documento, "IdDoc","TipoDocumento"), new { @class = "form-control" })

                <br />
                <br />
                <label>Nombre</label>
                <br />
                <input asp-for="Nombre" type="text" class="form-control col-sm-12" id="nombreusuariotxt" required />
                <br />
                <label>Apellidos</label>
                <br />
                <input asp-for="Apellido" type="text" class="form-control col-sm-12" id="apellidousuariotxt" required />
            </div>
            <div class="col">
                <label>Numero de Documento</label>
                <br />
                <input asp-for="Documento" type="text" class="form-control col-sm-12" id="numerodocumentousuariotxt" required />
                <br />
                <label>Correo Electronico</label>
                <input asp-for="Email" type="text" class="form-control col-sm-12" id="correoelectronicousuariotxt" required />

                <label>Rol</label>

                @Html.DropDownList("IdRol",new SelectList(ViewBag.rol, "IdRol","TipoRol"), new { @class = "form-control" })
                <br />

            </div>
            <div class="col">
                <label>Genero</label>
                @Html.DropDownList("IdGenero",new SelectList(ViewBag.Genero, "IdGenero","Genero1"), new { @class = "form-control" })
                <br />
                <label>Password</label>
                <input asp-for="Password" type="text" class="form-control col-sm-12" id="Passwordusuariotxt" required />

                <br />
            </div>
            <div class="col">
                <label>Programas</label>
                @Html.DropDownList("IdPrograma",new SelectList(ViewBag.Programa, "IdPrograma","Programa1"), new { @class = "form-control" })
                <br />
                <br />

                <br />
                @if (ViewBag.mensaje != null)
                {
                    <div class="alert alert-success" role="alert"> @ViewBag.mensaje</div>
                }
                <button type="submit" class="btn btn-outline-danger" id="crearbtn type" submit>Editar</button>

                <br />


                <a href="/Administrador/Login"<button type="button" class="btn btn-link">Cerrar Sesion</button></a>


            </div>
        </div>

    </div>
</form>