@model SGPI.Models.Usuario
@{
    ViewData["Title"] = "Reportes";
    Layout = "_LayoutSGPI";
}

<h1>Reportes</h1>

<form action="" class="form-inline justify-content-center">
    <center>
        <ul class="nav nav-pills" class="form">
            <li class="nav-item">
                <a class="nav-link " href="/Administrador/CrearUsuario">Crear Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/BuscarUsuario">Buscar Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/EliminarUsuario">Eliminar Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Administrador/EditarUsuario">Editar Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Administrador/Reportes">Reportes</a>
            </li>
        </ul>
    </center>
</form>
<br />
<form method="post">
    
    <label>Numero de Documento</label>

    <br />
    <div class="input-group">
        <br />
        
        <input asp-for="Documento" type="text" class="form-control col-sm-10" id="numerodocumentousuariotxt" required />&nbsp;
        <button type="submit" class="btn btn-primary mb-3">Buscar</button>

        <br />
    </div>
    <br />
    <center>
        <table class="table" border="1">
            <thead>
            <th>@Html.DisplayNameFor(model=>model.Nombre)</th>
            <th>@Html.DisplayNameFor(model=>model.Apellido)</th>
            <th>@Html.DisplayNameFor(model=>model.Documento)</th>
            <th>@Html.DisplayNameFor(model=>model.Email)</th>

            </thead>
            <tr>
                <th>@Html.DisplayFor(model=>model.Nombre)</th>
                <th>@Html.DisplayFor(model=>model.Apellido)</th>
                <th>@Html.DisplayFor(model=>model.Documento)</th>
                <th>@Html.DisplayFor(model=>model.Email)</th>
            </tr>



        </table>
    </center>

    <br />
    <center>
        <button type="submit" class="btn btn-primary">Generar Reporte</button>

        <br />

        <a href="/Administrador/Login"<button type="button" class="btn btn-link">Cerrar sesion</button></a>

    </center>
</form>
